<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1>About the project</h1>
<div style="margin-left: 20%; margin-right: 20%; margin-bottom: 40px;" >
Nvidia CEO Jensen Huang stated at the World Government Summit that AI could lead to the end of 
programming languages and english will become the new default programming language. This project is 
a proof of concept that english sentences and pseudocode can be used to make simple functions run.
</div>

<div>
    <a href="/">Back to main page</a>
</div>

</html>