<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h1 >
    Ask ai something
</h1>
<div>

<textarea id="request" rows="8" cols="60"></textarea>

<br>
</div>

<div >
<button onclick="sendText()">Submit</button>
<button onclick="suggestion()">Suggestion</button>
</div>

<script>
        let i=0;

        let texts = [
        'create a list called l \nadd 10 random numbers to l\nfind the max value in l',
        'pick any word\nfind the number of \'a\'s in it',
        'sort the list [43,6,2,4,7,87.9,5]', 
        'compute 0.2 + 0.1'];
        let len = texts.length
        async function suggestion() {
            document.getElementById("request").value = texts[i];  
            i = (i+1) % len;        
        }

</script>

<p id="response"></p>  
<script> 
    async function sendText() {
        const text = document.getElementById('request').value;
        console.log(text)

        //use POST request to send the text to the backend
        const response = await fetch('/process', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ text: text})
        });

        //recieve response
        const data = await response.text();
        document.getElementById('response').innerText = data;
    }
</script>

<footer>
    <a href="https://github.com/NolanScherer/AIclient" out>Github</a>
    <a href="/about.html" target="_blank">About the Project</a>
</footer>

